body {
    font-family: Arial, sans-serif;
    background: black;
}

.animation-box {
    width: 75%;
    height: 27.5rem;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.animation-container {
    width: 100%;
    height: 30rem;
    position: relative;
}

.first-text {
    font-size: 3.4rem;
    position: absolute;
    left: 2.5rem;
    top: 5rem;
    opacity: 0;
    animation: fadeInOut 10s ease-in-out forwards;
    color: white;
    z-index: 5;
}

.second-text {
    font-size: 3.4rem;
    position: absolute;
    right: 2.5rem; /* Ensure it's visible on the right side */
    top: 8.5rem;
    opacity: 0;
    white-space: nowrap;
    animation: fadeInOut 8s ease-in-out 12s forwards;
    color: green;
    z-index: 4;
}

.third-text {
    transform: rotate(-75deg);
    font-size: 2rem;
    position: absolute;
    left: 45%;
    top: 50%;
    opacity: 0;
    white-space: nowrap;
    animation: fadeInOut 8s ease-in-out 22s forwards;
    color: #a3ddf0;
    z-index: 3;
}

.fourth-text {
    font-size: 3.4rem;
    position: absolute;
    top: 12rem;
    left: 10%;
    opacity: 0;
    color: #f0a3be;
    animation: fadeInOut 9s ease-in-out 30s forwards;
    z-index: 2;
}

.fifth-text {
    font-size: 5rem;
    position: absolute;
    left: 10%;
    bottom: 3rem;
    opacity: 0;
    color: #ff69b4;
    animation: fadeInOut 10s ease-in-out 40s forwards;
    z-index: 1;
}

/* Fade-In and Out Animation */
@keyframes fadeInOut {
    0% { opacity: 0; }
    30% { opacity: 1; } /* Fully visible */
    80% { opacity: 1; } /* Stay visible longer */
    100% { opacity: 0; } /* Fade out */
}
